<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://m.media-amazon.com/images/M/MV5BMTAyYWYyOTMtNmUzNS00NzNjLTkyZTUtZjhlZjMzYzJmNzM5XkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_FMjpg_UX1000_.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">GTA San Andreas</h5>
                              <a href="#" class="btn btn-primary">Buy Game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://cdn.mos.cms.futurecdn.net/JmQSqz7xJUW2u6wYuwX98f.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Forza Horizon 4</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://i.pinimg.com/originals/2a/7b/3a/2a7b3ad2db208fcec3cb0367201779b1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">EA Cricket 2007</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://play-lh.googleusercontent.com/VSwHQjcAttxsLE47RuS4PqpC4LT7lCoSjE7Hx5AW_yCxtDvcnsHHvm5CTuL5BPN-uRTP" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Minecraft</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/apex-featured-image-16x9.jpg.adapt.crop16x9.1023w.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Apex Legends</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://www.riotgames.com/darkroom/1440/d0807e131a84f2e42c7a303bda672789:3d02afa7e0bfb75f645d97467765b24c/valorant-offwhitelaunch-keyart.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Valorent</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://cdn.supercell.com/supercell.com/220701091016/supercell.com/files/og_clashofclans.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Clash of Clans</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://cdn.akamai.steamstatic.com/steam/apps/393080/capsule_616x353.jpg?t=1628530918" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Call of Duty</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://eu-images.contentstack.com/v3/assets/blt95b381df7c12c15d/blt7d86932750bd05d9/61d8885cb744cd76dd91ba9b/angrybirdsloadingscreenfeatured.jpg?quality=80&format=jpg&width=828" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Angry Birds</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">

                        <div class="card">
                            <img height="400" src="https://play-lh.googleusercontent.com/SIhOPLDreTKrf7VWPhvbHlXR78_IZs3965ilMpbBLQ4OqeyfApDdnT_Kxi7kwnx3i7M=w526-h296-rw" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Road rash</h5>
                              <a href="#" class="btn btn-primary">Buy game</a>
                            </div>
                          </div>

                    </div>
                </div>

            </div>
        </div>
      </div>

</body>
</html>

